/* Custom CSS */


/* common */
.top_btn {
	
	}


/* Sub Top */
.sub_top {
	width:100%; height:220px;
	background:url('/assets/img/subTop.jpg') no-repeat center top;
	background-size:cover;
	}

/* post */
.post-full-content .highlight {
	background:#000000;
	border-radius:5px;
	}
.post-full-content code,
	.post-full-content pre {
		font-family:"Inconsolata", monospace;
	}

/* About */
#development--technical-training {
	text-align:center;
	}

