/* Custom CSS */

/* Sub Top */
.sub_top {
	width:100%; height:250px;
	background:url('/assets/img/subTop_20181019.jpg') no-repeat center;
	background-size:cover;
	}

/* post */
.post-full-content .highlight {
	background:#000000;
	border-radius:5px;
	}
.post-full-content code,
	.post-full-content pre {
		font-family:"Inconsolata", monospace;
	}

/* About */
#development--technical-training {
	text-align:center;
	}


/* Mediaquery - 600px */
@media (min-width: 600px) {
	.sub_top {height:200px;}
}