/* Custom CSS */


/* common */
.top_btn {}
.catalogue-item .link_arr {
	display:inline-block; position:absolute;
	width:30px; height:30px;
	right:0; top:50%; transform:translateY(-50%) translateZ(0);
	border:2px solid #000000; line-height:100%;
	}
.nav ul {display:flex;}
.nav ul li a {
	display:inline-block; width:32px;
	height:32px; background-size:100%; text-indent:-9999px;
	}
.about_btn {background:url("/assets/img/about_ico.png") no-repeat center;}
.list_btn {background:url("/assets/img/list_btn.png") no-repeat center;}
.search_btn {background:url("/assets/img/search.png") no-repeat center; cursor:pointer;}

/* Search Area */
.search_bg {
	display:none; z-index:10;
	position:absolute; top:0; left:0; right:0; bottom:0;
	background:rgba(0,0,0,0.7); width:100%; height:100%;
	}
.search_wrap {
	display:none; width:100%; 
	text-align:center; position:relative;
	z-index:11; padding-top:20px;
	}
#search-input {
	width:500px; height:40px;
	border:2px solid #ffffff;
	background:none; color:#ffffff; 
	font-family:"Noto Sans KR"; padding-left:13px;
	font-size:15px; box-sizing:border-box;
	}
#results-container {
	width:80%; margin:0 auto; 
	padding:20px 0 0 0; font-size:13px;
	}
#results-container li {
	text-align:left; display:inline-block;
	padding:0; list-style:none;
	background:#ffffff; padding:4px 10px;
	border-radius:30px; margin-right:10px;
	margin-bottom:10px;
	}
#results-container li:last-child {margin-right:0;}
#results-container li a {
	display:block; color:#000000;
	font-size:13px; font-family:"Noto Sans KR";
	}
#results-container li a:before {content:"#"; display:inline-block;}



/* Main */
.catalogue p {
	font-size:0.8rem; width:80%;
	word-break:break-all;
	}


/* Sub Top */
.sub_top {
	width:100%; height:220px;
	background:url('/assets/img/subTop.jpg') no-repeat center 27%;
	background-size:cover; position:relative;
	}


/* post */
.post-full-content .highlight {
	background:#000000;
	border-radius:5px;
	}
.post-full-content code,
	.post-full-content pre {
		font-family:"Inconsolata", monospace;
	}
.post-full-content ol li {
	margin-bottom:30px;
	}
.post-full-content .highlighter-rouge {margin-bottom:30px;}
.post-full-content hr {margin:50px 0;}
.post-full-content p {margin-bottom:30px;}
.post-full-content h1
.post-full-content h2,
.post-full-content h3 {margin-bottom:40px;}



/* About */
#development--technical-training {text-align:center;}

@media (max-width: 767px) {
	
	/* 메인페이지 */
	main, footer, .nav-container {
		width:100%; box-sizing:border-box;
		padding:0 5%;
		}
	.sub_top {height:150px;}
	.catalogue-item .link_arr {display:none;}
	.catalogue p {width:100%;}
	
	/* Post */
	.post-title {word-break:keep-all;}
}